<footer>
    <div class="main-footer-container">
        <p class="created-by">Created by {{name}}</p>
        <ul class="nav footer-nav">
            <li>
                <a href="https://github.com/JWShaw/simple-weather" target="_blank">
                    <img src="img/github-7-32.png">
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/jonathanshawmath/" target="_blank">
                    <img src="img/linkedin-2-32.png">
                </a>
            </li>
        </ul>
    </div>
</footer>